<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ua.com.merchik.merchik">
<!--    package="ua.com.merchik.merchik"> ОРИГИНАЛ-->

    <queries>
        <package android:name="effie.app.com.effie" />
        <package android:name="ua.kyiv.fta" />
        <package android:name="com.dodotap.reportal" />
        <package android:name="com.mobileua.spot2r" />
        <package android:name="ua.com.lexmarketing.storecheckonline" />
        <package android:name="com.swe.ssbs.sweloader" />
    </queries>

    <!--Разрешения для фотографий-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
<!--    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>-->
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

<!--    SERCE-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <!--Разрешения для использования геолокации-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"
        tools:ignore="ProtectedPermissions" />
    <uses-feature android:name="android.hardware.location.gps" />

    <!--For API 33 Android 13-->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />


    <!--ТЕМА ОТ application-->
    <!--android:allowBackup="true"
    android:theme="@style/AppTheme"
        android:icon="@mipmap/merchik"

        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/merchik_m"
        android:supportsRtl="true"
    android:label="@string/app_name"

android:theme="@style/Theme.AppCompat.Light.NoActionBar"
    -->


<!--    -->


    <application
        android:name="ua.com.merchik.merchik.Activities.MyApplication"
        android:requestLegacyExternalStorage = "true"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:icon="@mipmap/merchik"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/merchik_m"
        android:supportsRtl="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:versionCode="2025062401"
        android:versionName="2025062401"
        tools:targetApi="m">

<!--        <meta-data-->
<!--            android:name="com.google.android.gms.version"-->
<!--            android:value="@integer/google_play_services_version" />-->

        <meta-data
            android:name="ua.com.merchik.merchik.COMPETITOR_PACKAGES"
            android:resource="@array/competitor_packages" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA4UcwsE62Rvn2SlJAy9ha3Lz0-x4lkdOg"/>

        <activity
            android:name="ua.com.merchik.merchik.menu_login"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="merchik" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<activity android:name=".menu_main"-->
            <!--android:theme="@style/DefaultTheme">-->
        <!--</activity>-->

        <activity
            android:name="ua.com.merchik.merchik.Activities.MenuMainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="fullSensor"
            >
        </activity>

        <activity
            android:name="ua.com.merchik.merchik.menu_main"
            android:theme="@style/AppTheme.NoActionBar"
            >

            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable" />

        </activity>

        <activity
            android:name="ua.com.merchik.merchik.menu_wp_data"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>

        <activity
            android:name="ua.com.merchik.merchik.Activities.Features.FeaturesActivity"
            android:theme="@style/TransparentTheme"
            >
        </activity>

        <activity
            android:name="ua.com.merchik.merchik.Activities.WorkPlanActivity.WPDataActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|layoutDirection"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>

        <activity
            android:name="ua.com.merchik.merchik.Activities.DetailedReportActivity.DetailedReportActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name="ua.com.merchik.merchik.PhotoReportActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|layoutDirection"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>

        <activity
            android:name="ua.com.merchik.merchik.Activities.PhotoLogActivity.PhotoLogActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|layoutDirection"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>

        <activity
            android:name="ua.com.merchik.merchik.Activities.TaskAndReclamations.ReclamationsActivity.ReclamationsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name="ua.com.merchik.merchik.Activities.TaskAndReclamations.TARActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name="ua.com.merchik.merchik.Activities.ReferencesActivity.ReferencesActivity"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>

        <activity
            android:name="ua.com.merchik.merchik.Activities.PremiumActivity.PremiumActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|layoutDirection"
            >
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="ua.com.merchik.merchik.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <service android:name="ua.com.merchik.merchik.WorkPlan"
            tools:ignore="Instantiatable" />

        <service android:name="ua.com.merchik.merchik.DownloadPictureService"
            android:foregroundServiceType="shortService"
            />

        <!--Раскоментить когда тестить карту буду-->
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
    </application>

</manifest>